@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #12ac8e;
  --primary-color-dark: #0d846c;
  --primary-color-light: #e9f7f7;
  --secondary-color: rgb(120, 50, 120);
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

 
}

nav {
  background-image: linear-gradient(
      to right,
      rgba(141, 101, 190, 0.9),
      rgba(31, 194, 161, 0.7)
    ),
    url("assets/header.jpg");
  background-position: center center;
  background-size: cover;
   min-width: 14vw;
  background-repeat: no-repeat;
}
img {
  width: 100%;
  display: flex;
}
.nav__container img{
  height: 5vh;
  width: 20vw;
    
border-radius: 50%;
  
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}
.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  
  white-space: nowrap;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}
.btn a{
  color: white;
}

.nav__container {
  padding: 1rem 1rem;

  display: flex;

  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}

.nav__logo span {
  color: var(--secondary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.link a {
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--primary-color-light);
}

.link a:hover {
  color: var(--secondary-color);
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  
  padding: 4rem 1rem;
}

.section__header {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}


.header__container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header__container h1 {
 margin:10px auto;
  max-width: 90%;
  font-size: 40px;
  text-align: center;
  line-height: 4rem;
  color:  black;
}
.header__content img{
  height: 45vh;
  width: 100%;
  border-radius: 20px;

  position: relative;
}
img {
  width: 100%;
  display: flex;
}


.header__container p {
  margin-bottom: 2rem;
  text-align: center;
  margin-left: 5%;
  font-size: 22px;
    color: rgb(79, 77, 77);
  margin-top: 5%;
  max-width: 90%;
  
}



.e-books {
display: grid;
align-items: center;
justify-content: center;
margin: 10px;
}

.e-books h1{
  text-align: center;
  color: black;
  font-weight: 400;
}

.e-books p{
  text-align: center;
  color: rgb(79, 77, 77);
  font-weight: 400;
  margin: 10px auto;
}

.books__grid {
  margin:40px;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.books__card {
  padding: 2rem;
  text-align: center;
  gap: 4rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(35, 35, 35);
  cursor: pointer;
}
.books__card:hover {
    transform: translateY(-20px);
 
  }


.books__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.books__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}



.books__card a:hover {
  color: var(--primary-color-dark);
}

.books__card button {
  height: 30px;
  font-size: 18px;
  width: 100px;
  background-color: purple;
  color: white;
 border: none;
 border-radius: 10px;
  
}
.purple{
  color: purple;
  font-weight: 400;
  font-size: 20px;
}
.white{
  color: white;
  font-weight: 900;
}

.surah{
  display: grid;
  align-items: center;
  justify-content: center;

  
}
.surah h1{
  text-align: center;
  margin: 30px auto;
  color: black;
  font-size: 2rem;
  font-weight:700;

}
.surah p{
 color: rgb(22, 22, 22);
 font-size: 18px;
  
 text-align: center;
}

.surah__grid {
  margin:40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
}
.surah__card {
  padding: 2rem;
  text-align: center;
  gap: 2rem;
  background-color: purple;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(35, 35, 35);
  cursor: pointer;
}
.surah__card p{
  color: white;
 font-size: 18px;
 text-align: center;
}

.surah__card button {
  height: 30px;
  font-size: 18px;
  width: 100px;
  background-color: white;
  color: purple;
 border: none;
 margin-top: 10px;
 border-radius: 10px;
  
}

.surah__card:hover {
    transform: translateX(20px);
 
  }
.Aayah h1{
    text-align: center;
  margin: 30px auto;
}
.Aayah p{
   color: rgb(22, 22, 22);
 font-size: 18px;
 text-align: center;
}
  .Aayah__grid {
  margin:40px;
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.Aayah__card {
  padding: 2rem;
  text-align: center;
  gap: 2rem;

border: none;
  border-radius: 10px;
  
  cursor: pointer;
}

.Aayah__card img{
 height: 30vh;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(30, 30, 30);
}



.tafseer{
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  
}
.tafseer h1{
  text-align: center;
  margin: 30px auto;
  color: black;
  font-size: 2rem;

}
.tafseer p{
 color: rgb(22, 22, 22);
 font-size: 18px;
 text-align: center;
}

.tafseer__grid {
  margin:40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
    min-height: 10vh;
}
.tafseer__card {
padding: 2rem;
  text-align: center;
  gap: 2rem;
margin-left: 15rem;
  height: 325px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(35, 35, 35);
  cursor: pointer;
}
.tafseer__card p{
  color: rgb(65, 64, 64);
 font-size: 18px;
 text-align: center;
}
.tafseer__card h4{
font-weight: 700;
 font-size: 18px;
 text-align: center;
}
.tafseer__card button {
  height: 30px;
  font-size: 18px;
  width: 100px;
  background-color: purple;
  color: white;
 border: none;
 margin-top: 10px;
 border-radius: 10px;
  
}

.facts{
  display: grid;
  align-items: center;
  justify-content: center;
  
}
.facts h1{
    text-align: center;
  margin: 30px auto;
 
  font-size: 1.8rem;
}
.facts p{
   color: rgb(22, 22, 22);
 font-size: 1.5rem;
 text-align: center;
}
  .facts__grid {
 height: 70vh;
  width: 400px;
  width: 100%;
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.facts__card {
  padding: 2rem;
  text-align: center;
  gap: 3rem;
border: none;

  border-radius: 10px;
  height: 70vh;
  width: 400px;
  cursor: pointer;
}

.facts__card img{
 height: 70vh;
  width: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(30, 30, 30);
}


.contact{
  width: 100%;
  height: 80vh;

  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  background:linear-gradient(135deg, rgb(178, 98, 178),rgb(93, 182, 139));
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width:90%;
  max-width: 600px;
   box-shadow: 5px 5px 5px rgb(74, 74, 74);
  border-radius: 10px;
}

form h3{
  color: black;
  font-weight: 800;
  margin-bottom: 20px;
}
form input{
  border: 0;
  margin-top:20px;
  padding: 10px;
  height: 40px;
  box-shadow: 2px 2px 2px rgb(128, 127, 127);
  outline:none;
  background: rgb(226, 224, 224);
  font-size: 16px;
}

 form textarea{
  border: 0;
  margin-top:20px;
    padding: 5px;
  height: 100px;
box-shadow: 2px 2px 2px rgb(128, 127, 127);
  outline:none;

  background: rgb(226, 224, 224);
  font-size: 16px;
 }

form button{
  padding: 15px;
background-color: purple;
color: white;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: none;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}


footer{
  height: 10vh;
  width: 100%;
   background-image: linear-gradient(
      to right,
      rgba(120, 77, 173, 0.9),
      rgba(23, 156, 130, 0.7)
    );
   
}
footer h2{
   text-align: center;
    font-size: 1.5rem;
    color: rgb(250, 248, 248);
    font-weight: 400;
    padding: 10px;
}
footer svg{
  margin-top: 8px;
 
}


@media (width < 780px) {
  .nav__links {
    display: none;
  }
  .nav__container{
    width: 121vw;
  }
 
  .header__content h1{
    font-size: 2.5rem;
    padding: 0;
  
  }
  .header__content p{
    font-size: 1rem;
    
  }
  .header__content img{
    max-width: 60vw;
    margin: 10px auto;
    min-height: 8vh;
  }
.e-books h1{
  font-size: 2rem;
  font-weight: 700;
}
.e-books p{
  font-size: 1rem;
  
}
   .books__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
  }
   .surah__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .surah__card button a{
   color: purple;
   font-weight: 700;
  }
  
 .surah h1{
   font-size:1.5rem;
   font-weight:700;
   text-align:center;
 }
.surah p{
  font-size: 0.9rem;
  text-align:center;
}
   .tafseer__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  .tafseer__card{
    margin: 10px;
  }
 

   .Aayah__grid  {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  
   .facts__grid  {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  


  footer{
    width: 120vw;
  }
  footer h2{
font-size: 1.5rem;
  }
}













